body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
}

html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    background-color: #a5e6f4;
    color: #000000;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    /* position: fixed;
    top: 0;
    width: 100%; */

}
 header h1{
    margin-left: 70px;
 }

header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
    list-style: none;
    display: inline-block;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
}

.home {
    display: flex;
    background: url('6.jpg') no-repeat center;
    height: 755px;
    background-size: cover;
    background-attachment: fixed;
    color: #f3f3f3;
    min-height: 500px;
}

.home .max-width {
    margin: 200px 100px;
}

.home .max-width .home-contact{
    font-size: large;
}

.home .max-width .home-contact .text-1 {
    font-size: 27px;
    
}

.home .home-contact .text-2 {
    font-size: 75px;
    font-weight: 500;
    margin-left: 0px;
}

.home .home-contact .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.about {
    background-color: antiquewhite;
    margin-top: -50px;
    width: 100%;
    height: 755px;
}

.about .aboutMe h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: darkslategrey;
    text-align: center;
    margin-top: 0px;
    padding-top: 100px;
}

.temp {
    display: flex;
}

.temp h4 {
    margin: 50px;
    width: 800px;
    font-size: 40px;
}

.temp p {
    margin: 50px;
    font-size: 20px;
}

.container{
    background-color: aliceblue;
}

.skill{
    padding: opx;
}

.container .row{
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    font-size: 30px;
}

.skill-col-1 img{
   margin-top: 150px;
   margin-left: 100px;
    width: 550px;
    border-radius: 10px;
    height: 350px;

}
.skill-col-2 h1{
    margin-left: 100px;
}

.skill-col-2 p{
    margin-left: 150px;
    margin-top: 100px;
    font-size: 20px;
}

.portfolio .portfolio-2 img{
    height: 760px;
    width: 1519px;
}







.container .row .skill-col-2 .persent {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
    list-style: none;
    
}

.container .row .skill-col-2 .persent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
    
} 





footer p{
    color: #666666;
    margin-left: 650px;
    
}










.contact-left{
 flex-basis: 35%;
 
}

.contact-right{
    flex-basis: 60%;
    margin-top: 260px;
}

.contact-left p{
    margin-top: 40px;
}

.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #909090;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    transform: translateY(-7px);
    color: #ececec;
}

.btn{
    display: inline-block;
    background-color: #f3f3f3;
    height: 30px;
    width: 100px;
}


.contact-right form{
    width: 100%;

}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}

form btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.contact .contact-left{
    color: #ffffff;
}



.contact .row{
    background: #000000;
}




#msg{
    color: aquamarine;
    margin-top: -20px;
    display: block;
}






